$green: rgb(41,136,104);
$greenG: linear-gradient(90deg, rgba(41,136,104,1) 0%, rgba(58,172,106,1) 50%, rgba(106,157,195,1) 100%);

$red: rgb(255,67,17);
$redG: linear-gradient(90deg, rgba(255,67,17,1) 0%, rgba(245,20,225,1) 100%);

$gray: rgb(148,148,148);
$grayG: linear-gradient(90deg, rgb(197, 197, 197) 0%, rgb(255, 255, 255) 43%, rgba(226,226,226,1) 100%);

$blue: rgb(65,89,205);
$blueG: linear-gradient(90deg, rgba(65,89,205,1) 0%, rgba(15,137,255,1) 43%, rgba(100,94,255,1) 100%);